
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<CascadingValue Value="this">
	<HtmlElement Element="nav" @attributes="@AdditionalAttributes" id="@Id" class="@RootClass()" aria-label="breadcrumb">

		@ChildContent
		<ol class="@Theme.RzBreadcrumb.List">
			@foreach (var item in Items)
			{
				<li class="@Theme.RzBreadcrumbItem.ListItem">

					@item.Content
					@if (item != Items.Last())
					{
						<Blazicon Svg="Separator"/>
					}
				</li>
			}
		</ol>
	</HtmlElement>
</CascadingValue>