@typeparam TValue
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<label @attributes="AdditionalAttributes" class="@LabelWrapperClass">
    <RzInputRadio TValue="TValue" class="@RadioInputClass" Name="@ParentRadioGroup?.Name" Id="@Id" Value="@Value" />
    <span class="@IconContainerClass">
	    <Blazicon Svg="EffectiveCheckboxIcon"/>
    </span>
    <span class="@ClickableContainerClass">
        <div class="@ContentWrapperClass">
            @if (Icon != null)
            {
                <div class="@LeadingIconContainerClass">
	                <Blazicon Svg="Icon"/>
                </div>
            }
            <span class="@TextContainerClass">
                <span class="@LabelTextClass">@Label</span>
                @if (Description != null)
                {
                    <span class="@DescriptionTextClass">@Description</span>
                }
                @ChildContent
            </span>
        </div>
    </span>
</label>

