@using RizzyUI.Services
@using RizzyUI

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'nonce-@_nonceValues.InlineScriptNonce'; font-src fonts.gstatic.com; style-src 'self' fonts.googleapis.com 'nonce-@_nonceValues.InlineStyleNonce'">

    <!--<link rel="stylesheet" href="_content/RizzyUI/dist/rizzyui.css" />-->

    <link nonce="@_nonceValues.InlineStyleNonce" rel="stylesheet" href="/css/app.css" />
    <link nonce="@_nonceValues.InlineStyleNonce" rel="stylesheet" href="/RizzyUI.Docs.styles.css" />
    <HeadOutlet />
    <RizzyThemeProvider/>

    <script defer nonce="@_nonceValues.InlineScriptNonce" src="https://cdn.jsdelivr.net/npm/@@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer nonce="@_nonceValues.InlineScriptNonce" src="https://cdn.jsdelivr.net/npm/@@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>


    <script defer nonce="@_nonceValues.InlineScriptNonce" src="https://cdn.jsdelivr.net/npm/@@alpinejs/csp@3.x.x/dist/cdn.min.js"></script>
    <!--
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    -->
    <script nonce="@_nonceValues.InlineScriptNonce" src="/_content/RizzyUI/js/vendor/loadjs/loadjs.js"></script>
    <script nonce="@_nonceValues.InlineScriptNonce" src="/_content/RizzyUI/js/rizzyui.js"></script>

    <link rel="preconnect" nonce="@_nonceValues.InlineScriptNonce" href="https://fonts.googleapis.com">
    <link rel="preconnect" nonce="@_nonceValues.InlineScriptNonce" href="https://fonts.gstatic.com" crossorigin>
    <link nonce="@_nonceValues.InlineStyleNonce" href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>
<Routes />

</body>

</html>

@code {
    private RizzyNonceValues _nonceValues = RizzyNonceValues.DefaultValue;

    [Inject] IRizzyNonceProvider? NonceProviderService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _nonceValues = NonceProviderService?.GetNonceValues() ?? _nonceValues;
    }

}
