@namespace RizzyUI

@inherits RizzyComponent

<button type="button" class="@_variants[Variant] @_variantsizes[Size] @classes" aria-label="@AssistiveLabel" @attributes="@attributes">@ChildContent</button>

@code {
    [CascadingParameter]
    public ButtonGroup? Group { get; set; }

    [Parameter] 
    public string AssistiveLabel { get; set; } = "Action Button";

    /// <summary>
    /// Button variation (primary, secondary, etc)
    /// </summary>
    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Primary;

    /// <summary>
    /// Button size
    /// </summary>
    [Parameter]
	public ButtonSize Size { get; set; } = ButtonSize.Medium;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

        if (Group != null)
        {
			Group.AddButton(this);

            var idx = Group.Buttons.IndexOf(this);

            if (idx == 0)
            {
                classes += " rounded-none rounded-l-lg";
            }
			else if (idx == Group.Buttons.Count - 1)
            {
				classes += " rounded-none rounded-r-lg border-l-0";
            }
			else
            {
				classes += " rounded-none border-l-0";
			}
        }
	}

    private readonly Dictionary<ButtonVariant, string> _variants = new Dictionary<ButtonVariant, string>()
    {
        {
            ButtonVariant.Primary, "cursor-pointer whitespace-nowrap rounded bg-primary font-medium tracking-wide text-onPrimary transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-primaryDark dark:text-onPrimaryDark dark:focus-visible:outline-primaryDark"
        },
        {
            ButtonVariant.Secondary, "cursor-pointer whitespace-nowrap rounded bg-secondary font-medium tracking-wide text-onSecondary transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-secondaryDark dark:text-onSecondaryDark dark:focus-visible:outline-secondaryDark"
        },
        {
            ButtonVariant.Alternate, "cursor-pointer whitespace-nowrap rounded bg-surfaceAlt font-medium tracking-wide text-onSurface transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-surfaceAlt active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-surfaceAltDark dark:text-onSurfaceDark dark:focus-visible:outline-surfaceAltDark"
        },
        {
            ButtonVariant.Inverse, "cursor-pointer whitespace-nowrap rounded bg-surface font-medium tracking-wide text-onSurface transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-surface active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-surfaceDark dark:text-onSurfaceStrongDark dark:focus-visible:outline-surfaceDark"
        },
        {
            ButtonVariant.Information, "cursor-pointer whitespace-nowrap rounded bg-info font-medium tracking-wide text-onInfo transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-info active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-info dark:text-onInfo dark:focus-visible:outline-info"
        },
        {
            ButtonVariant.Danger, "cursor-pointer whitespace-nowrap rounded bg-danger font-medium tracking-wide text-onDanger transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-danger active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-danger dark:text-onDanger dark:focus-visible:outline-danger"
        },
        {
            ButtonVariant.Warning, "cursor-pointer whitespace-nowrap rounded bg-warning font-medium tracking-wide text-onWarning transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-warning active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-warning dark:text-onWarning dark:focus-visible:outline-warning"
        },
        {
            ButtonVariant.Success, "cursor-pointer whitespace-nowrap rounded bg-success font-medium tracking-wide text-onSuccess transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-success active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-success dark:text-onSuccess dark:focus-visible:outline-success"
        },
        {
            ButtonVariant.Ghost, "cursor-pointer whitespace-nowrap rounded bg-transparent font-medium tracking-wide text-onSurface transition hover:opacity-75 text-center focus-visible:outline-none active:opacity-100 disabled:opacity-75 disabled:cursor-not-allowed"
        }
    };

	private readonly Dictionary<ButtonSize, string> _variantsizes = new Dictionary<ButtonSize, string>()
	{
		{
			ButtonSize.ExtraSmall, "px-2 py-1 text-sm"
		},
		{
			ButtonSize.Small, "px-3 py-2 text-sm"
		},

		{
			ButtonSize.Medium, "px-4 py-2 text-md"
		},

		{
			ButtonSize.Large, "px-6 py-3 text-md"
		},

		{
			ButtonSize.ExtraLarge, "px-8 py-4 text-md"
		},
	};

}
