@namespace RizzyUI.TailwindVariants.Tests.Components.Button
@inherits RizzyUI.TailwindVariants.Tests.Components.Base.TwComponentBase

<button class="@_slots.GetBase()" type="@Type" @attributes="AdditionalAttributes">
	@RenderInnerContent()
</button>

@code 
{
	[Parameter] 
	public RenderFragment? ChildContent { get; set; }
	
	[Parameter] 
	public RenderFragment? IconContent { get; set; }
	
	[Parameter] 
	public Variants Variant { get; set; }
	
	[Parameter] 
	public Sizes Size { get; set; }
	
	[Parameter] 
	public string Type { get; set; } = "button";
	
	[Parameter] 
	public bool FullWidth { get; set; }
	
	[Parameter] 
	public bool IconOnly { get; set; }
	
	[Parameter] 
	public bool Loading { get; set; }
	
	[Parameter] 
	public Slots? Classes { get; set; }

	private RenderFragment RenderInnerContent() => __builder =>
	{
		@if (Loading)
		{
			<span class="@_slots.GetSpinner()"></span>
		}
		else if (IconContent is not null)
		{
			<div class="@_slots.GetIcon()">
				@IconContent
			</div>
		}

		@ChildContent
	};
}
