
@namespace RizzyUI
@inherits RzComponent

<HtmlElement Element="@Element" @attributes="@AdditionalAttributes" class="@RootClass()" role="img"
             aria-label="@AlternateText">
    @if (IndicatorVisible)
    {
        <div class="@Theme.RzAvatar.Indicator @Theme.RzAvatar.GetIndicatorSizeCss(Size) @Theme.RzAvatar.GetIndicatorColorCss(IndicatorColor)"></div>
    }
    @if (!string.IsNullOrEmpty(ImageSource))
    {
        <img src="@ImageSource" alt="@AlternateText" class="@Theme.RzAvatar.Image @Theme.RzAvatar.GetSizeCss(Size) @Theme.RzAvatar.GetShapeCss(Shape)"/>
    }
    else if (!string.IsNullOrEmpty(Initials))
    {
        <div
            class="@Theme.RzAvatar.InitialsContainer @Theme.RzAvatar.GetSizeCss(Size) @Theme.RzAvatar.GetShapeCss(Shape) @Theme.RzAvatar.GetInitialsSizeCss(Size)">
            @Initials
        </div>
    }
    else
    {
        <div class="@Theme.RzAvatar.PlaceholderContainer @Theme.RzAvatar.GetSizeCss(Size) @Theme.RzAvatar.GetShapeCss(Shape)">
            <svg class="@Theme.RzAvatar.PlaceholderIcon @Theme.RzAvatar.GetPlaceholderSizeCss(Size)"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path
                    fill-rule="evenodd"
                    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                    clip-rule="evenodd"/>
            </svg>
        </div>
    }
</HtmlElement>