
@namespace RizzyUI
@inherits RzComponent

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@RootClass()">
	<div data-alpine-root="@Id" data-headings="@_headingItemsSerialized"
	     data-currentheadingid="@(_currentHeadingId)"
	     x-data="rzQuickReferenceContainer">
		<CascadingValue Value="this" IsFixed="true">
			@ChildContent
		</CascadingValue>		
	</div>
</HtmlElement>