
@namespace RizzyUI
@inherits RzComponent<RzQuickReference.Slots>

<nav aria-label="@AriaLabel" @attributes="@AdditionalAttributes" class="@_slots.GetBase()" id="@Id">
    <p class="@_slots.GetTitle()">
        @Title
    </p>
    <ul class="@_slots.GetList()">
        @foreach (var heading in _headings)
        {
            <li class="@(_slots.GetListItem() + " " + GetIndentationClass(heading.Level))">
                <a href="#@heading.Id"
                   class="@_slots.GetLink()"
                   data-headingid="@heading.Id"
                   :class="getSelectedCss"
                   :aria-current="getSelectedAriaCurrent"
                   x-on:click="handleHeadingClick">
                    @heading.Title
                </a>
            </li>
        }
    </ul>
</nav>