
@namespace RizzyUI
@inherits RzComponent

<nav @attributes="@AdditionalAttributes" class="@RootClass()" id="@Id" aria-label="@AriaLabel">
    <p class="@Theme.RzQuickReference.Title">
        @Title
    </p>
    <ul class="@Theme.RzQuickReference.List">
        @foreach (var heading in _headings)
        {
            <li class="@Theme.RzQuickReference.ListItem @GetIndentationClass(heading.Level)">
                <a href="#@heading.Id"
                   class="@Theme.RzQuickReference.Link"
                   data-headingid="@heading.Id"
                   :class="getSelectedCss"
                   :aria-current="getSelectedAriaCurrent"
                   x-on:click="handleHeadingClick">
                    @heading.Title
                </a>
            </li>
        }
    </ul>
</nav>