
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@RootClass()" aria-label="@AriaLabel">

	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>

	@for (var i = 0; i < Items.Count; i++)
	{
		var step = Items[i];
		var isFirst = i == 0;
		var prevStep = isFirst ? null : Items[i - 1];
		var effectiveAriaLabel = string.IsNullOrEmpty(step.AriaLabel) ? step.Label : step.AriaLabel;
        var isCurrent = step.Status == StepStatus.Current;

		<li class="@GetStepItemCss(isFirst)" aria-label="@effectiveAriaLabel" aria-current="@(isCurrent ? "step" : null)">

			@if (!isFirst && prevStep != null)
			{
				<span class="@Theme.RzSteps.GetConnectorCss(Orientation, prevStep.Status, ActiveColor)" aria-hidden="true"></span>
			}

			<div class="@Theme.RzSteps.StepContentContainer">
				@if (step.Status == StepStatus.Completed)
				{
					<span class="@Theme.RzSteps.CircleCompletedBase @Theme.RzSteps.GetCircleCompletedCss(ActiveColor)">
						@if (step.Icon is not null)
						{
							<Blazicon Svg="step.Icon" class="@Theme.RzSteps.CircleCompletedIcon" aria-hidden="true"/>
						}
						else
						{
							<svg class="@Theme.RzSteps.CircleCompletedIcon" xmlns="http://www.w3.org/2000/svg" fill="none"
							     viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
							</svg>
						}
                        <span class="@Theme.RzSteps.CircleCompletedSrText">@Localizer["RzSteps.CompletedStepSrText"]</span>
					</span>
				}
				else
				{
					<span class="@Theme.RzSteps.CircleDefaultBase @Theme.RzSteps.GetCircleDefaultCss(step.Status, ActiveColor)">
						@if (step.Icon is not null)
						{
							<Blazicon Svg="step.Icon" class="@Theme.RzSteps.CircleDefaultIcon" aria-hidden="true"/>
						}
						else
						{
							@(i + 1)
						}
					</span>
				}
				<div>
					@if (ShowLabels && !string.IsNullOrEmpty(step.Label))
					{
						<span class="@Theme.RzSteps.LabelBase @Theme.RzSteps.GetLabelStatusCss(step.Status, ActiveColor)">@step.Label</span>
					}
					@if (!string.IsNullOrEmpty(step.Caption))
					{
						<span class="@Theme.RzSteps.Caption">@step.Caption</span>
					}
				</div>
			</div>
		</li>
	}
</HtmlElement>