@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<HtmlElement Element="ol" @attributes="AdditionalAttributes" class="@RootClass()" aria-label="@AriaLabel">
	
	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>

	
	@for (var i = 0; i < Items.Count; i++)
	{
		var step = Items[i];
		var isFirst = i == 0;
		var prevStep = isFirst ? null : Items[i - 1];

		<li class="@GetStepItemCss(isFirst)"
		    aria-label="@(string.IsNullOrEmpty(step.AriaLabel) ? step.Label : step.AriaLabel)">

			
			@if (!isFirst && prevStep != null)
			{
				<span class="@GetConnectorCss(prevStep)" aria-hidden="true"></span>
			}

			<div class="@StepContentContainerClass">
				@if (step.Status == StepStatus.Completed)
				{
					<span class="@CircleCompletedBaseClass @GetCircleCompletedVariantCss()">
						@if (step.Icon is not null)
						{
							<Blazicon Svg="step.Icon" class="@CircleCompletedIconClass"/>
						}
						else
						{
							<svg class="@CircleCompletedIconClass" xmlns="http://www.w3.org/2000/svg" fill="none"
							     viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
							</svg>
							<span class="@CircleCompletedSrTextClass">completed</span>
						}
					</span>
				}
				else 
				{
					<span class="@CircleDefaultBaseClass @GetCircleDefaultVariantCss(step.Status)">
						@if (step.Icon is not null)
						{
							<Blazicon Svg="step.Icon"
							          class="size-4"/> 
						}
						else
						{
							@(i + 1) 
						}
					</span>
				}
				@if (ShowLabels && !string.IsNullOrEmpty(step.Label))
				{
					<span class="@LabelBaseClass @GetLabelVariantCss(step.Status)">@step.Label</span>
				}
			</div>
			
			@* @if (!string.IsNullOrEmpty(step.Caption))
               {
                   <span class="@CaptionClass">@step.Caption</span>
               } *@
		</li>
	}
</HtmlElement>

