@namespace RizzyUI
@using Blazicons
@inherits RzComponent<RzSteps.Slots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@_slots.GetBase()" aria-label="@AriaLabel">

	<CascadingValue Value="this" IsFixed="true">
		@ChildContent
	</CascadingValue>

	@for (var i = 0; i < Items.Count; i++)
	{
		var step = Items[i];
		var isFirst = i == 0;
        var isLast = i == Items.Count - 1;
		var prevStep = isFirst ? null : Items[i - 1];
		var effectiveAriaLabel = string.IsNullOrEmpty(step.AriaLabel) ? step.Label : step.AriaLabel;
        var isCurrent = step.Status == StepStatus.Current;

		<li class="@GetStepItemCss(isFirst, isLast, step.Status)" 
            aria-label="@effectiveAriaLabel" 
            aria-current="@(isCurrent ? "step" : null)">

			@if (Orientation == Orientation.Horizontal && !isFirst && prevStep != null)
			{
				<span class="@GetConnectorCss(prevStep.Status)" aria-hidden="true"></span>
			}

			<div class="@_slots.GetStepContentContainer()">
				@if (step.Status == StepStatus.Completed)
				{
					<span class="@GetCircleCompletedCss()">
						@if (step.Icon is not null)
						{
							<Blazicon Svg="step.Icon" class="@_slots.GetCircleCompletedIcon()" aria-hidden="true"/>
						}
						else
						{
							<svg class="@_slots.GetCircleCompletedIcon()" xmlns="http://www.w3.org/2000/svg" fill="none"
							     viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
							</svg>
						}
                        <span class="@_slots.GetCircleCompletedSrText()">@Localizer["RzSteps.CompletedStepSrText"]</span>
					</span>
				}
				else
				{
					<span class="@GetCircleDefaultCss(step.Status)">
						@if (step.Icon is not null)
						{
							<Blazicon Svg="step.Icon" class="@_slots.GetCircleDefaultIcon()" aria-hidden="true"/>
						}
						else
						{
							@(i + 1)
						}
					</span>
				}
				<div>
					@if (ShowLabels && !string.IsNullOrEmpty(step.Label))
					{
						<p class="@GetLabelCss(step.Status)">@step.Label</p>
					}
					@if (!string.IsNullOrEmpty(step.Caption))
					{
						<p class="@_slots.GetCaption()">@step.Caption</p>
					}
				</div>
			</div>
		</li>
	}
</HtmlElement>