
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@RootClass()">
    <!-- Navbar Toggle Button (conditionally rendered based on screen size by CSS) -->
    <button type="button" class="@Theme.RzNavbar.ToggleButton" x-on:click="toggleSidebar">
        <div class="@Theme.RzNavbar.ToggleButtonIconContainer">
            <Blazicon Svg="MdiIcon.Menu"/>
        </div>
        <span class="@Theme.RzNavbar.ToggleButtonSrText">@ScreenReaderText</span>
    </button>

    <div class="@Theme.RzNavbar.ContentContainer">
        @ChildContent
    </div>
</HtmlElement>