
@namespace RizzyUI
@using Blazicons
@using Rizzy
@inherits InputBase<string, RzTextEdit.Slots>

<div class="@SlotClasses.GetInputWrapper()" id="@Id">
    <div x-data="rzPrependInput" data-alpine-root="@Id">
        @if (!string.IsNullOrEmpty(PrependText) || PrependIcon != null)
        {
            <div x-ref="prependContainer" class="@SlotClasses.GetPrependElement()">
                @if (!string.IsNullOrEmpty(PrependText))
                {
                    @PrependText
                }
                else if (PrependIcon != null)
                {
                    <div class="@SlotClasses.GetPrependIconContainer()">
                        <Blazicon Svg="PrependIcon"/>
                    </div>
                }
            </div>
        }
        <RzInputText x-ref="textInput" @ref="_elem" type="@_role" ValueExpression="For"
                     placeholder="@_placeholder" @attributes="AdditionalAttributes" class="@SlotClasses.GetInput()"/>
    </div>
</div>