
@namespace RizzyUI
@inherits RzComponent

<div x-data="rzIndicator"
     @attributes="@AdditionalAttributes"
     data-alpine-root="@Id"
     id="@Id"
     class="@RootClass()"
     aria-label="@EffectiveAriaLabel"
     :aria-hidden="notVisible"
     x-show="visible"
     data-color="@Color.ToCssColorString()"
     data-visible="@Visible.ToString().ToLowerInvariant()"
     x-cloak>
</div>