
@namespace RizzyUI
@inherits RzComponent

<div x-data="rzIndicator"
     data-alpine-root="@Id"
     id="@Id"
     class="@RootClass()"
     aria-label="@EffectiveAriaLabel"
     aria-hidden="@(!Visible).ToString().ToLowerInvariant()"
     x-show="@Visible.ToString().ToLowerInvariant()"
     data-color="@Color.ToCssColorString()"
     @attributes="@AdditionalAttributes"
     x-cloak>
</div>