
@namespace RizzyUI
@inherits RzTypographyBase<RzHeading.Slots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@_slots.GetBase()">
    <div x-data="rzHeading" data-alpine-root="@Id">
        @if (ChildContent == null && !string.IsNullOrEmpty(QuickReferenceTitle))
        {
            @QuickReferenceTitle
        }
        else
        {
            @ChildContent
        }
    </div>
</HtmlElement>