@namespace RizzyUI
@inherits RzComponent

<RzField class="@RootClass()">
	<div class="@ContentWrapperClass">
		<div class="@InnerWrapperClass">
			<RzFieldLabel DisplayName="@DisplayName" For="@For" class="@LabelInFieldClass">
				@if (Description != null)
				{
					<span class="@DescriptionInLabelClass">
						@Description
					</span>
				}
			</RzFieldLabel>


			<RzToggle For="@For" @bind-Value="CurrentValue" class="@ToggleInFieldClass"
			          @attributes="AdditionalAttributes"/>
		</div>
	</div>

	<RzValidationMessage For="@For"/>
</RzField>