
@namespace RizzyUI
@inherits RzComponent

<RzField class="@RootClass()">
	<div class="@Theme.RzToggleField.ContentWrapper">
		<div class="@Theme.RzToggleField.InnerWrapper">
			<RzFieldLabel DisplayName="@DisplayName" For="@For" class="@Theme.RzToggleField.LabelInField">
				@if (Description != null)
				{
					<span class="@Theme.RzToggleField.DescriptionInLabel">
						@Description
					</span>
				}
			</RzFieldLabel>


			<RzToggle For="@For" @bind-Value="CurrentValue" class="@Theme.RzToggleField.ToggleInField"
			          @attributes="AdditionalAttributes"/>
		</div>
	</div>

	<RzValidationMessage For="@For"/>
</RzField>