
@namespace RizzyUI
@using Rizzy
@inherits RzComponent<RzToggleField.Slots>

<RzField Id="@Id" class="@SlotClasses.GetBase()">
	<div class="@SlotClasses.GetContentWrapper()">
		<div class="@SlotClasses.GetInnerWrapper()">
			<RzFieldLabel DisplayName="@DisplayName" For="@For" class="@SlotClasses.GetLabelInField()">
				@if (Description != null)
				{
					<span class="@SlotClasses.GetDescriptionInLabel()">
						@Description
					</span>
				}
			</RzFieldLabel>


			<RzToggle For="@For" @bind-Value="CurrentValue" class="@SlotClasses.GetToggleInField()"
			          @attributes="AdditionalAttributes"/>
		</div>
	</div>

	<RzValidationMessage For="@For"/>
</RzField>