
@using Blazicons
@namespace RizzyUI

@inherits RizzyComponent

<HtmlElement Element="div"
             @attributes="AdditionalAttributes"
             class="@RootClass()"
             x-data="rzDateEdit"
             data-config="@_serializedConfig"
             data-uid="@_uid"
             data-assets="@_assets"
             data-scriptnonce="@Nonce"
             data-stylenonce="@Nonce"
             role="group" aria-label="Date picker">

    <div class="relative" x-data="rzPrependInput" x-ref="pickerWrapper">
	    @if (!string.IsNullOrEmpty(PrependText) || PrependIcon != null)
		{
            <div x-ref="prependContainer" class="pointer-events-none absolute inset-y-0 left-0 my-px ml-px flex items-center rounded-l-theme border-r border-outline bg-surface-alt px-3 text-on-surface   ">
				@if (!string.IsNullOrEmpty(PrependText))
				{
					@PrependText
				}
				else
				{
					<div class="text-xl"><Blazicon Svg="PrependIcon" /></div>

				}
			</div>
		}

	    <input x-ref="textInput"
               id="@_uid-input"
		       type="text"
		       class="@_inputStyle"
		       aria-label="Select date" />
	</div>

</HtmlElement>