@using Rizzy.Nonce

@namespace RizzyUI

@inherits RizzyComponent

<HtmlElement Element="div"
             @attributes="AdditionalAttributes"
             class="@RootClass()"
             x-data="rzDateEdit"
             data-config="@_serializedConfig"
             data-uid="@_uid"
             data-assets="@_assets"
             data-scriptnonce="@Nonce.GetNonce(NonceType.Script)"
             data-stylenonce="@Nonce.GetNonce(NonceType.Style)"
             role="group" aria-label="Date picker">

	<div class="relative" x-ref="pickerWrapper">
		@if (!string.IsNullOrEmpty(PrependText))
		{
			<div class="pointer-events-none absolute inset-y-0 left-0 my-px ml-px flex items-center rounded-l-theme border-r border-outline bg-surface-alt px-3 text-on-surface dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark">
				@PrependText
			</div>
		}

		<input x-ref="dateInput"
		       type="text"
		       class="@_inputStyle"
		       aria-label="Select date" />
	</div>

</HtmlElement>