@using System.Diagnostics.CodeAnalysis
@using Rizzy.Components
@namespace RizzyUI
@using System.Linq.Expressions
@using Blazicons
@using Rizzy.Nonce
@inherits InputBase<string>

<div class="relative" x-data="rzPrependInput">
    @if (!string.IsNullOrEmpty(PrependText) || PrependIcon != null)
    {
            <div x-ref="prependContainer" class="pointer-events-none absolute inset-y-0 left-0 my-px ml-px flex items-center rounded-l-lg border-r border-gray-200 bg-gray-100 pl-2 pr-2 text-gray-700 dark:border-gray-600 dark:bg-gray-900/50 dark:text-gray-300">
            @if (!string.IsNullOrEmpty(PrependText))
            {
                @PrependText
            }
            else
            {
                <div class="text-xl"><Blazicon Svg="PrependIcon" /></div>

            }
        </div>
    }
    <RzInputText x-ref="textInput" @ref="_elem" type="@_role" Value="@_value" ValueExpression="For" placeholder="@_placeholder" @attributes="@AdditionalAttributes" class="@RootClass()"/>
</div>

@code {
    /// <summary>
    /// Base CSS classes applied to the input element.
    /// </summary>
    private static readonly string BaseStyle = "block w-full rounded-theme border border-outline px-3 py-2 leading-6 placeholder-gray-500 focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50 dark:border-gray-600 dark:bg-gray-800 dark:placeholder-gray-400 dark:focus:border-primary transition-opacity text-transparent";

    private string PrependStyle { get; set; } = string.Empty;
    private RzInputText? _elem;
    private string _value = string.Empty;
    private string _role = "text";
    private string _placeholder = string.Empty;

    /// <summary>
    /// Gets or sets the current edit context.
    /// </summary>
    [CascadingParameter]
    public EditContext EditContext { get; set; } = default!;

    /// <summary>
    /// Gets or sets the associated text field.
    /// </summary>
    [CascadingParameter]
    public TextField? TextField { get; set; }

    /// <summary>
    /// Gets or sets the role of the text input, determining its behavior and appearance.
    /// </summary>
    [Parameter]
    public TextRole Role { get; set; } = TextRole.Text;

    /// <summary>
    /// Gets or sets the placeholder text for the input field.
    /// </summary>
    [Parameter]
    public string Placeholder { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets the text to prepend inside the input field.
    /// </summary>
    [Parameter]
    public string? PrependText { get; set; }

    /// <summary>
    /// Gets or sets the text to prepend icon inside the input field.
    /// </summary>
    /// <remarks>Only one of PrependText or PrependIcon can be defined</remarks>
    [Parameter]
    public SvgIcon? PrependIcon { get; set; }

    /// <summary>
    /// Gets the ID attribute of the input element, if provided.
    /// </summary>
    public string Id
    {
        get
        {
            if (_elem?.AdditionalAttributes != null && _elem.AdditionalAttributes.TryGetValue("id", out var attribute))
            {
                return attribute as string ?? string.Empty;
            }

            return string.Empty;
        }
    }

    /// <summary>
    /// Called when component parameters have been set. Initializes internal state based on parameters.
    /// </summary>
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _role = GetParameterValue("type", Role.ToString().ToLowerInvariant());
        _placeholder = GetParameterValue("placeholder", Placeholder);
        _value = For.Compile().Invoke();

        if (!string.IsNullOrEmpty(PrependText) && PrependIcon != null)
        {
            throw new InvalidOperationException($"{nameof(PrependText)} and {nameof(PrependIcon)} cannot both be set at the same time.");
        }
    }

    /// <summary>
    /// Computes the root CSS classes by merging additional attributes with the base style.
    /// </summary>
    /// <returns>A string containing the merged CSS classes.</returns>
    protected override string? RootClass()
    {
        return TwMerge.Merge(AdditionalAttributes, BaseStyle, PrependStyle);
    }
}
