@namespace RizzyUI
@inherits RzComponent<RzArticle.Slots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@_slots.GetBase()">
	<div class="@_slots.GetInnerContainer()">
		<article class="@_slots.GetArticle()">
			@MainContent
		</article>

		@if (SideContent != null)
		{
			<aside class="@_slots.GetAside()" aria-label="@AsideAriaLabel">
				@SideContent
			</aside>
		}
	</div>
</HtmlElement>