
@typeparam TValue
@namespace RizzyUI
@using Blazicons
@using Rizzy
@inherits RzComponent<RzRadioGroupItemSlots>

<label @attributes="AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()">
    <RzInputRadio @ref="_radioRef" TValue="TValue" class="@SlotClasses.GetRadioInput()" Name="@ParentRadioGroup?.Name" Id="@RadioInputId" Value="@Value"/>
    <span class="@SlotClasses.GetIconContainer()">
	    <Blazicon Svg="EffectiveCheckboxIcon"/>
    </span>
    <span class="@SlotClasses.GetClickableContainer()">
        <div class="@SlotClasses.GetContentWrapper()">
            @if (Icon != null)
            {
                <div class="@SlotClasses.GetLeadingIconContainer()">
	                <Blazicon Svg="Icon"/>
                </div>
            }
            <span class="@SlotClasses.GetTextContainer()">
                <span class="@SlotClasses.GetLabelText()">@Label</span>
                @if (Description != null)
                {
                    <span class="@SlotClasses.GetDescriptionText()">@Description</span>
                }
                @ChildContent
            </span>
        </div>
    </span>
</label>