
@typeparam TValue
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<label @attributes="AdditionalAttributes" class="@Theme.RzRadioGroupItem.LabelWrapper">
    <RzInputRadio TValue="TValue" class="@Theme.RzRadioGroupItem.RadioInput" Name="@ParentRadioGroup?.Name" Id="@Id" Value="@Value"/>
    <span class="@Theme.RzRadioGroupItem.IconContainer">
	    <Blazicon Svg="EffectiveCheckboxIcon"/>
    </span>
    <span class="@Theme.RzRadioGroupItem.ClickableContainer">
        <div class="@Theme.RzRadioGroupItem.ContentWrapper">
            @if (Icon != null)
            {
                <div class="@Theme.RzRadioGroupItem.LeadingIconContainer">
	                <Blazicon Svg="Icon"/>
                </div>
            }
            <span class="@Theme.RzRadioGroupItem.TextContainer">
                <span class="@Theme.RzRadioGroupItem.LabelText">@Label</span>
                @if (Description != null)
                {
                    <span class="@Theme.RzRadioGroupItem.DescriptionText">@Description</span>
                }
                @ChildContent
            </span>
        </div>
    </span>
</label>