
@namespace RizzyUI
@typeparam TValue
@using Blazicons
@using Rizzy
@inherits RzComponent<RzCheckboxGroupItemSlots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()">
	<div x-data="rzCheckboxGroupItem" data-alpine-root="@Id">
		<div class="@SlotClasses.GetCheckboxWrapper()">
			<RzInputCheckbox @bind-Value="IsChecked" class="@SlotClasses.GetCheckboxInput()" x-on:change="toggleCheckbox" x-ref="chk"/>
			<div class="@SlotClasses.GetIconContainer()" :class="getIconCss">
				<Blazicon Svg="EffectiveCheckedIcon"/>
			</div>
		</div>
		<span class="@SlotClasses.GetTitleSpan()">@Title</span>
		@ChildContent
	</div>
</HtmlElement>