
@namespace RizzyUI
@typeparam TValue
@using Blazicons
@using Rizzy
@inherits RzComponent

<HtmlElement Element="@Element" x-data="rzCheckboxGroupItem" @attributes="@AdditionalAttributes" class="@Theme.RzCheckboxGroupItem.Label">
	<div class="@Theme.RzCheckboxGroupItem.CheckboxWrapper">
		<RzInputCheckbox @Value="IsChecked" class="@Theme.RzCheckboxGroupItem.CheckboxInput" x-on:change="toggleCheckbox" x-ref="chk"/>
		<div class="@Theme.RzCheckboxGroupItem.IconContainer" :class="@(GetIconVisibilityCss(IsChecked))">
			<Blazicon Svg="EffectiveCheckedIcon"/>
		</div>
	</div>
	<span class="@Theme.RzCheckboxGroupItem.TitleSpan">@Title</span>
	@ChildContent
</HtmlElement>