
@namespace RizzyUI
@typeparam TValue
@using Blazicons
@using Rizzy
@inherits RzComponent

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" id="@Id">
	<div x-data="rzCheckboxGroupItem" data-alpine-root="@Id" class="@Theme.RzCheckboxGroupItem.Label">
		<div class="@Theme.RzCheckboxGroupItem.CheckboxWrapper">
			<RzInputCheckbox @bind-Value="IsChecked" class="@Theme.RzCheckboxGroupItem.CheckboxInput" x-on:change="toggleCheckbox" x-ref="chk"/>
			<div class="@Theme.RzCheckboxGroupItem.IconContainer" :class="getIconCss">
				<Blazicon Svg="EffectiveCheckedIcon"/>
			</div>
		</div>
		<span class="@Theme.RzCheckboxGroupItem.TitleSpan">@Title</span>
		@ChildContent
	</div>
</HtmlElement>