
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<HtmlElement Element="@EffectiveElement"
             @attributes="AdditionalAttributes"
             id="@Id"
             class="@RootClass()"
             role="menuitem"
             tabindex="-1"
             x-on:click="handleItemClick"
             x-on:mousemove="handleItemMousemove"
             aria-disabled="@(Disabled.ToString().ToLowerInvariant())"
             disabled="@(Disabled ? "disabled" : null)">
    @if (Icon != null)
    {
        <span class="@Theme.RzDropdownMenu.MenuItemIcon"><Blazicon Svg="@Icon"/></span>
    }
    @ChildContent
    @if (ShortcutContent != null)
    {
        @ShortcutContent
    }
</HtmlElement>