
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<a role="menuitem" @attributes="AdditionalAttributes" id="@Id" class="@RootClass()" x-on:click="closeDropdown" tabindex="0">
	@if (Icon != null)
	{
		<span class="@Theme.RzDropdownMenuItem.IconSpan"><Blazicon Svg="@Icon" class="@Theme.RzDropdownMenuItem.Icon"/></span>
	}
	<span class="@Theme.RzDropdownMenuItem.TitleSpan">@Title</span>
	@if (Count != null)
	{
		<div class="@Theme.RzDropdownMenuItem.CountDiv">
			@Count
		</div>
	}
</a>