
@namespace RizzyUI
@using Blazicons
@inherits RzComponent

<HtmlElement Element="button"
             @attributes="AdditionalAttributes"
             class="@RootClass()"
             type="button"
             aria-label="Toggle dark mode"
             x-data="rzDarkModeToggle"
             x-on:click="toggle"
             :aria-pressed="isDark">
	<div x-show="isLight" x-cloak>
		<Blazicon Svg="@DarkIcon" class="@Theme.RzDarkmodeToggle.Icon"/>
	</div>
	<div x-show="isDark" x-cloak>
		<Blazicon Svg="@LightIcon" class="@Theme.RzDarkmodeToggle.Icon"/>
	</div>
</HtmlElement>