
@namespace RizzyUI
@inherits RzComponent<RzProgress.Slots>

<HtmlElement Element="div"
             @attributes="AdditionalAttributes"
             id="@Id"
             class="@SlotClasses.GetBase()">

	             <div x-data="rzProgress"
	                  data-alpine-root="@Id"
	                  data-label="@Label"
	                  data-current-val="@CurrentValue"
	                  data-min-val="@MinValue"
	                  data-max-val="@MaxValue"
	                  role="progressbar"
	                  aria-label="@AriaLabel"
	                  aria-valuenow="@CurrentValue"
	                  aria-valuemin="@MinValue"
	                  aria-valuemax="@MaxValue"
	                  data-progress="true">
		             
		             @if (LabelPosition == ProgressLabelPosition.Outside && !string.IsNullOrEmpty(Label))
		             {
			             <div class="@SlotClasses.GetOutsideLabelContainer()">
				             <div class="grow"></div>
				             <div class="@SlotClasses.GetOutsideLabelText()"><span x-text="buildLabel"></span></div>
			             </div>
		             }
		             <div class="@SlotClasses.GetOuterBar()">
			             <div class="@SlotClasses.GetInnerBar()" x-ref="progressBar" nonce="@Nonce">
				             @if (LabelPosition == ProgressLabelPosition.Inside && !string.IsNullOrEmpty(Label))
				             {
					             <div class="@SlotClasses.GetInsideLabelContainer()" x-ref="progressBarLabel" :class="getLabelCss">
						             <span class="@SlotClasses.GetInsideLabelText()" x-ref="innerLabel"></span>
					             </div>
				             }
			             </div>
		             </div>

	             </div>
</HtmlElement>