
@namespace RizzyUI
@typeparam TItem
@inherits RzComponent<RzTableSlots>

<CascadingValue Value="this" Name="ParentRzTable" IsFixed="true">
    <HtmlElement Element="div" @attributes="AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()">
        <table class="@SlotClasses.GetTable()" id="@TableId"> 
            @if (Header != null)
            {
                <thead class="@SlotClasses.GetThead()" id="@TableHeaderId">
                @Header(this)
                </thead>
            }
            
            @if (Body != null)
            {
                @Body!(this)
            }

            @if (Footer != null)
            {
                <tfoot class="@SlotClasses.GetTfoot()" id="@TableFooterId">
                @Footer(this)
                </tfoot>
            }
        </table>
    </HtmlElement>
</CascadingValue>