
@namespace RizzyUI
@typeparam TItem
@inherits RzComponent

<CascadingValue Value="this" Name="ParentRzTable" IsFixed="true">
    <HtmlElement Element="div" @attributes="AdditionalAttributes" id="@Id" class="@RootClass()">
        <table class="@Theme.RzTable.Table" id="@TableId"> 
            @if (Header != null)
            {
                <thead class="@Theme.RzTable.Thead" id="@TableHeaderId">
                        @Header(this)
                </thead>
            }
            
            @if (Body != null)
            {
                @Body!(this)
            }

            @if (Footer != null)
            {
                <tfoot class="@Theme.RzTable.Tfoot" id="@TableFooterId">
                        @Footer(this)
                </tfoot>
            }
        </table>
    </HtmlElement>
</CascadingValue>