@namespace RizzyUI

@inherits RizzyComponent

<HtmlElement Element="@Element" @attributes="@AdditionalAttributes" class="@RootClass()" role="img" aria-label="@AlternateText">
    @if (IndicatorVisible)
    {
                <div class="border-2 absolute right-0 top-0 @_indicatorSizes[Size] rounded-full border-white @(IndicatorColor.ToDarkBackgroundClass())"></div>
    }
    @if (!string.IsNullOrEmpty(ImageSource))
    {
            <img src="@ImageSource" alt="@AlternateText" class="inline-block aspect-square @_variantsizes[Size] @_variantShapes[Shape]"/>
    }
    else if (!string.IsNullOrEmpty(Initials))
    {
            <div class="inline-flex @_variantsizes[Size] @_variantShapes[Shape] items-center justify-center bg-gray-100 @_initialsSizes[Size] text-gray-500 dark:bg-gray-700 dark:text-gray-500">
            @Initials
            </div>
    }
    else
    {
            <div class="inline-flex @_variantsizes[Size] @_variantShapes[Shape] items-center justify-center bg-gray-100 text-gray-300 dark:bg-gray-700 dark:text-gray-500">
                <svg class="inline-block @_placeholderSizes[Size]"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                    <path
                    fill-rule="evenodd"
                    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                    clip-rule="evenodd"/>
                </svg>
            </div>
    }
</HtmlElement>

