@inherits RzComponent
@namespace RizzyUI

<button
    id="@TabId"
    data-name="@NameLower"
    data-selectedtextcolor="@SelectedTextColorClass" @* Pass selected color to Alpine *@
    x-on:click="tabButtonClicked"
    x-on:keydown="handleKeyDown"
    type="button"
    role="tab"
    :aria-selected="tabButtonActive"
    tabindex="0" @* Managed by Alpine for focus *@
    aria-controls="@PanelId"
    @attributes="AdditionalAttributes"
    class="@RootClass()"
    :class="selectedTabTextColor"> @* Alpine applies selected text color *@
    @ChildContent
</button>

