
@inherits RzComponent
@namespace RizzyUI

<div
    id="@PanelId"
    data-name="@NameLower"
    x-show="tabContentActive"
    role="tabpanel"
    aria-labelledby="@TabId"
    tabindex="0"
    class="@Theme.RzTabPanel.OuterContainer"
    x-cloak
>
    <div @attributes="AdditionalAttributes" class="@RootClass()">
        @ChildContent
    </div>
</div>