
@inherits RzComponent<RzTabPanel.Slots>
@namespace RizzyUI

<div
    id="@PanelId"
    data-name="@NameLower"
    x-show="tabContentActive"
    role="tabpanel"
    aria-labelledby="@TabId"
    tabindex="0"
    class="@SlotClasses.GetBase()"
    x-cloak
>
    <div @attributes="AdditionalAttributes" class="@SlotClasses.GetInnerContainer()">
        @ChildContent
    </div>
</div>