
@inherits RzComponent
@namespace RizzyUI

<CascadingValue Value="this" IsFixed="true">
	<div @attributes="AdditionalAttributes"
	     id="@Id"
         class="@RootClass()">
	    <div
		    data-tabselected="@ActiveTabNameLower"
		    data-buttonref="@ButtonRefId"
		    data-alpine-root="@Id"
		    x-data="rzTabs"
		    x-on:resize.window="handleResize">
		    @Menu

		    <div class="@Theme.RzTabs.PanelsContainer">
			    @TabPanels
		    </div>
	    </div>        
    </div>
</CascadingValue>