@namespace RizzyUI


@inherits RizzyComponent

<HtmlElement Element="div"
             @attributes="AdditionalAttributes"
             class="@RootClass()"
             x-data="rzProgress"
             data-label="@Label"
             data-current-val="@CurrentValue"
             data-min-val="@MinValue"
             data-max-val="@MaxValue"
             role="progressbar"
             aria-label="@AriaLabel"
             aria-valuenow="@CurrentValue"
             aria-valuemin="@MinValue"
             aria-valuemax="@MaxValue"
             data-rz-progress="true">

	@if (LabelPosition == ProgressLabelPosition.Outside && !string.IsNullOrEmpty(Label))
	{
		<div class="mb-2 flex items-center">
			<div class="grow"></div>
			<div class="text-on-surface "><span x-text="buildLabel"></span></div>
		</div>
	}
    <div class="relative flex w-full overflow-hidden rounded-theme bg-outline  @(LabelPosition == ProgressLabelPosition.Inside ? "h-4" : "h-2.5")">
        <div class="p-0.5 text-center text-xs font-semibold leading-none transition-all @ProgressBarClass" x-ref="progressBar" nonce="@Nonce">
			@if (LabelPosition == ProgressLabelPosition.Inside && !string.IsNullOrEmpty(Label))
			{
                <div class="absolute" x-ref="progressBarLabel" :class="getLabelCss">
                    <span x-ref="innerLabel"></span>
                </div>
			}
		</div>
	</div>
</HtmlElement>

