
@namespace RizzyUI
@inherits RzComponent<RzFormSection.Slots>

<HtmlElement Element="@EffectiveElement" @attributes="@AdditionalAttributes" class="@SlotClasses.GetBase()" id="@Id">
	<div class="@SlotClasses.GetDescriptionContainer()">
		@if (!string.IsNullOrEmpty(Title))
		{
			<h2 class="@SlotClasses.GetTitle()">@Title</h2>
		}
		@if (Description != null)
		{
			<p class="@SlotClasses.GetDescription()">
				@Description
			</p>
		}
	</div>
	<div class="@SlotClasses.GetContentContainer()">
		@Content
	</div>
</HtmlElement>