
@namespace RizzyUI
@inherits RzComponent

<HtmlElement Element="@Element" class="@RootClass()" @attributes="AdditionalAttributes" id="@Id">
	<div class="@Theme.RzFormSection.GetDescriptionLayoutCss(Layout)">
		@if (!string.IsNullOrEmpty(Title))
		{
			<h2 class="@Theme.RzFormSection.Title">@Title</h2>
		}
		@if (Description != null)
		{
			<p class="@Theme.RzFormSection.Description">
				@Description
			</p>
		}
	</div>
	<div class="@Theme.RzFormSection.GetContentLayoutCss(Layout)">
		@Content
	</div>
</HtmlElement>