
@typeparam TValue
@namespace RizzyUI
@using Rizzy.Components.Form
@inherits RzComponent<RadioGroupItemSlots>

<label @attributes="AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()" data-slot="@RadioGroupItemSlotNames.NameOf(RadioGroupItemSlotTypes.Base)">
    <RzInputRadioBase TValue="TValue"
        @ref="_elem"
        Value="@Value"
        class="@SlotClasses.GetInput()"
        id="@($"{Id}-input")"
        data-slot="@RadioGroupItemSlotNames.NameOf(RadioGroupItemSlotTypes.Input)"
    />
    <span class="@SlotClasses.GetIndicatorWrapper()" data-slot="@RadioGroupItemSlotNames.NameOf(RadioGroupItemSlotTypes.IndicatorWrapper)">
        <span class="@SlotClasses.GetIndicator()" data-slot="@RadioGroupItemSlotNames.NameOf(RadioGroupItemSlotTypes.Indicator)"></span>
    </span>
    <span class="@SlotClasses.GetLabel()">
        @ChildContent
    </span>
</label>