
@typeparam TValue
@namespace RizzyUI
@using Rizzy.Components.Form
@inherits RzComponent<RadioGroupItemSlots>

<label @attributes="AdditionalAttributes" id="@Id" class="@SlotClasses.GetBase()" data-slot="@RadioGroupItemSlotNames.NameOf(RadioGroupItemSlotTypes.Base)">
    <RzInputRadioBase TValue="TValue"
        @ref="_elem"
        Value="@Value"
        class="@SlotClasses.GetInput()"
        data-slot="@RadioGroupItemSlotNames.NameOf(RadioGroupItemSlotTypes.Input)"
    />
    @ChildContent
</label>