
@namespace RizzyUI
@using Blazicons
@inherits RzComponent<RzSearchButton.Slots>

<HtmlElement Element="@EffectiveElement"
             type="button"
             @attributes="@AdditionalAttributes"
             id="@Id"
             class="@SlotClasses.GetBase()"
             aria-label="@Label">
	<div class="@SlotClasses.GetInnerContainer()">
		<span class="@SlotClasses.GetIconSpan()" aria-hidden="true">
			<Blazicon Svg="MdiIcon.Magnify"/>
		</span>
		@Label
	</div>
</HtmlElement>