
@namespace RizzyUI
@inherits RzComponent

@if (ParentProvider?.Collapsible == SidebarCollapsible.None)
{
	<div data-slot="sidebar" class="@RootClass()" @attributes="AdditionalAttributes">
		@ChildContent
	</div>
}
else
{
	<div class="@RootClass()"
	     x-bind:data-state="desktopState"
	     x-bind:data-collapsible="getCollapsibleAttribute"
	     data-variant="@Variant.ToString().ToLowerInvariant()"
	     data-side="@Side.ToString().ToLowerInvariant()"
	     data-slot="sidebar">

		<div class="md:hidden">
			<RzSheet>
				<SheetContent Side="@(Side == SidebarSide.Left ? SheetSide.Left : SheetSide.Right)"
				              class="w-[var(--sidebar-mobile-width)] p-0 [&>button]:hidden"
				              x-bind:open="openMobile"
				              x-on:close="close">
					<div class="flex h-full w-full flex-col">
						@ChildContent
					</div>
				</SheetContent>
			</RzSheet>
		</div>

		<div class="hidden md:block">
			<div data-slot="sidebar-gap" class="@Theme.Sidebar.GetGapCss(Variant, Side)"></div>
			<div data-slot="sidebar-container" class="@Theme.Sidebar.GetDesktopContainerCss(Variant, Side)">
				<div data-sidebar="sidebar" data-slot="sidebar-inner" class="@Theme.Sidebar.GetDesktopInnerCss(Variant)">
					@ChildContent
				</div>
			</div>
		</div>
	</div>
}