@namespace RizzyUI
@inherits RzComponent

<HtmlElement Element="@EffectiveElement" 
             @attributes="AdditionalAttributes" 
             id="@Id" 
             class="@RootClass()"
             data-slot="sidebar-container"
             data-side="@Side.ToString().ToLowerInvariant()"
             data-variant="@Variant.ToString().ToLowerInvariant()"
             data-collapsible="@ParentProvider?.Collapsible.ToString().ToLowerInvariant()"
             x-bind:aria-hidden="isHidden"
             x-bind:data-state="desktopState">
	<nav class="@Theme.Sidebar.Nav" aria-label="@AriaLabel">
		@ChildContent
	</nav>
</HtmlElement>