
@typeparam TValue
@namespace RizzyUI
@using Blazicons
@using Rizzy
@inherits InputBase<TValue>

<HtmlElement Element="@Element" id="@Id" class="@Theme.RzNumberEdit.InputWrapper">
	<div x-data="rzPrependInput" alpine-data-root="@Id">
		@if (!string.IsNullOrEmpty(PrependText) || PrependIcon != null)
		{
			<div x-ref="prependContainer" class="@Theme.RzNumberEdit.PrependElement">
				@if (!string.IsNullOrEmpty(PrependText))
				{
					@PrependText
				}
				else if (PrependIcon != null)
				{
					<div class="@Theme.RzNumberEdit.PrependIconContainer">
						<Blazicon Svg="PrependIcon"/>
					</div>
				}
			</div>
		}
		<RzInputNumber x-ref="textInput" TValue="TValue" @ref="_elem" Value="@_value" ValueExpression="For"
		               placeholder="@_placeholder" @attributes="AdditionalAttributes" class="@Theme.RzNumberEdit.Input"/>
	</div>
</HtmlElement>