
@typeparam TValue
@namespace RizzyUI
@using Blazicons
@using Rizzy
@inherits InputBase<TValue, RzNumberEditSlots>

<HtmlElement Element="@EffectiveElement" id="@Id" class="@SlotClasses.GetInputWrapper()">
	<div x-data="rzPrependInput" data-alpine-root="@Id">
		@if (!string.IsNullOrEmpty(PrependText) || PrependIcon != null)
		{
			<div x-ref="prependContainer" class="@SlotClasses.GetPrependElement()">
				@if (!string.IsNullOrEmpty(PrependText))
				{
					@PrependText
				}
				else if (PrependIcon != null)
				{
					<div class="@SlotClasses.GetPrependIconContainer()">
						<Blazicon Svg="PrependIcon"/>
					</div>
				}
			</div>
		}
		<RzInputNumber x-ref="textInput" TValue="TValue" @ref="_elem" ValueExpression="For"
		               placeholder="@_placeholder" @attributes="AdditionalAttributes" class="@SlotClasses.GetInput()"/>
	</div>
</HtmlElement>